body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #555;
  display: flex;
  justify-content: space-around;
}

li {
  padding: 1em;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 98.5%;
  margin-bottom: 5px;
}
