<div>
  <h1 style="text-align: center; background-color: palevioletred;margin-bottom: auto; margin-top: auto;">Organisation Explorer</h1>
  <body>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/research-department">Research Department</a></li>
      <li><a routerLink="/business">Business</a></li>
      <li><a routerLink="/technology">Technology</a></li>
    </ul>
    <footer>
      <p>&copy; 2023 OrgExplorer. All rights reserved.</p>
    </footer>
  </body>
  
  <router-outlet></router-outlet>
</div>