.home-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  